<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="N-kyTVpF6gtSOXCbSTYzs-hX-ac2CMdRCPHGSi37WA0" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Luca Cogo</title>
  <style>
    * {
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      margin: 0;
      font-family: Arial, sans-serif;
      color: #333;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    /* header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #ddd;
    } */

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      width: 40px;
      height: 40px;
    }

    .menu-icon {
      font-size: 24px;
      display: none;
    }

    nav {
      display: flex;
      gap: 20px;
    }

    nav a {
      text-decoration: none;
      color: #666;
      font-size: 0.9rem;
    }

    nav a.active {
      color: #007bff;
      border-bottom: 1px solid #007bff;
    }

    .main {
      flex: 1; /* Pushes footer down */
      display: flex;
      justify-content: center;
      padding: 50px;
      flex-wrap: wrap;
    }

    .profile-pic {
      /*width: 450px;*/
      /*height: 600px;*/
      width: 400px;
      height: 400px;


      object-fit: cover;
      /* background-color: #ddd; */
      background-image: url('/assets/img/profile_round.png');
      background-size: cover;
      background-position: center;
      margin-right: 50px;
      border-radius: 8px;
    }

    .content {
      max-width: 600px;
      flex: 1;
    }

    .content h1 {
      font-size: 2.5em;
      margin: 0;
    }

    .highlight {
      color: #007bff;
    }

    .location {
      margin-top: 20px;
      font-weight: bold;
    }

    .icons {
      margin-top: 20px;
      font-size: 1.5em;
    }

    .icons span {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #ccc;
      margin-right: 10px;
      border-radius: 50%;
    }

    footer {
      text-align: left;
      padding: 20px 40px;
      font-size: 0.8em;
      border-top: 1px solid #ddd;
    }

    /* Responsive styles */
    @media (max-width: 1085px) {
      .menu-icon {
        display: block;
      }

      nav {
        display: none;
      }

      .main {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
      }

      .profile-pic {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        margin: 0 0 30px 0;
      }

      .content {
        text-align: center;
      }

      .content h1 {
        font-size: 2em;
      }

      .icons {
        justify-content: center;
      }
    }
  </style>

{% include head.liquid %}
</head>
<body>


 
<!-- Header -->
{% include header.liquid %}

<div class="main">
  <div class="profile-pic"></div>
  <div class="content">

    <h4>Hi!</h4>
    <h1>I am <strong>{{ site.first_name }}</strong> {{ site.last_name }}</h1>
    <h2> </h2>
    <p>
      {{ content }}
    </p>
    <!-- <p class="location">📍 Milano, Italy</p> -->
    <!-- <div class="icons">
      <span title="Email"></span>
      <span title="GitHub"></span>
      <span title="Academic"></span>
      <span title="ORCID"></span>
      <span title="LinkedIn"></span>
    </div> -->

      {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
      </div>
      {% endif %}
  </div>
</div>

<!-- JavaScripts -->
{% include scripts.liquid %}

</body>
</html>
